*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    height: 100%;
    background-color: #f1e8fa;
}

.center{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Header */

header.header_site{
    position: fixed;
    width: 100%;
    background-color: #6d09af00;
    padding: 10px 2%;
    z-index: 2;
    transition: background-color 0.5s;
}
.header_site > .center{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.header_site .logo{
    width: 100px;
    padding: 20px;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;

}
.header_site nav .group_i{
    display: none;
    /* background-color: red; */
    padding: 5px;
    cursor: pointer;
}
.header_site nav .group_i i{
    display: none;
    width: 100%;
    font-size: 33px;
    color: white;
}

.header_site ul.desktop{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.header_site ul.app{
    display: none;
}
.header_site ul li{
    padding: 10px;
}
.header_site ul li a{
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
}
.header_site ul li a:hover{
    background-color: white;
    color: #55038C;
    transition: 0.8s;
}

.show_menu{
    animation: ShowMenu 0.3s forwards;

    display: flex !important;
}
.hidden_menu{
    animation: HiddenMenu 0.3s forwards;

    display: flex !important;
}


/* Banner */

article.banner{
    animation: BackgroundView 2s linear forwards;

    width: 100%;
    height: 75vh;
    min-height: 700px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../img/banner02.jpg');
    background-color: black;
    background-size: 160% 120%;
    background-position: 90% 140%;
}
.banner_text{
    animation: TextView 1.5s cubic-bezier(0.85, 0, 0.15, 1) forwards;

    color: white;
    font-family: 'Arcade';
    width: 50%;
    height: 150px;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner_text h2{
    animation: FadeIn 0.1s 0.75s forwards;

    font-size: 50px;
    font-weight: 300;
    opacity: 0;
}
.banner_text p{
    animation: FadeIn 0.1s 0.75s forwards;

    opacity: 0;
    text-align: 27px;
}
/* Products */

section.product{
    width: 100%;
    padding: 2%;
    text-align: center;
}
.product h1{
    font-size: 35px;
    font-weight: 300;
    padding: 10px;
    margin-bottom: 25px;
}
.product > .center{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.product_cards{
    max-width: 32%;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 10px;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.product_cards img{
    width: 80%;
    height: 230px;
    background-color: red;
    border-radius: 0.5em;
    margin-bottom: 20px;
}
.product_cards h2{
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    font-weight: 400;
    padding: 5px 0;
}
.product_cards p{
    font-size: 19px;
    font-weight: 300;
    width: 85%;
}

/* Galery */

section.galery{
    width: 100%;
    background-color: white;
    padding: 2%;
    color: white;
}
.galery > .center{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-color: #8d61b9;
}
.gal_text_group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gal_text_group img{
    width: 45%;
    height: 500px;
}
.gal_text_group:nth-child(2) img{
    position: relative;
    /* width: 80%; */
    top: -20px;
    left: 100px;
}
.gal_text_group > div{
    width: 55%;
    padding: 5%;
}
.gal_text_group:nth-child(2) > div{
    width: calc(55% - 100px);
}
.gal_text_group h2{
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}
.gal_text_group p{
    width: 100%;
    font-weight: 300;
    font-size: 23px;
}

/* About */

section.about{
    text-align: center;
    padding: 1% 2% 2% 2%; 
    background-color: white;
}
.about > h2{
    font-size: 39px;
    font-weight: 300;
    margin-bottom: 30px;
}
.info_text_group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.info_text{
    width: 32%;
    padding: 5px;
}
.info_text i{
    animation: Float 2s linear infinite alternate;
    font-size: 40px;
}
.info_text:nth-child(1) i{
    color: rgb(241, 0, 0);
}
.info_text:nth-child(2) i{
    color: rgb(85, 85, 85);
}
.info_text:nth-child(3) i{
    color: rgb(4, 163, 4);
}
.info_text h2{
    font-size: 28px;
    font-weight: 300;
    padding: 12px 0;
}
.info_text p{
    font-size: 19px;
    font-weight: 300;
}

/* Contato */

section.contact{
    text-align: center;
    padding: 2%;
}
section.contact h1{
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;
}

section.contact > .center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form.form_contact{
    width: 50%;
    margin: 10px;
    background-color: white;
}
form.form_contact h2{
    font-size: 26px;
    padding: 10px 5px;
    font-weight: 300;
}
.input_group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 25px;
}
.input_group label{
    font-weight: 300;
    font-size: 18px;
    padding: 5px 0;
}
.input_group input{
    width: 100%;
    height: 30px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
}
.input_group input:focus{
    font-size: 18.5px;
    transform: scale(1.01);
    border-bottom: 1px solid #55038C;
    transition: 0.9s;
}
.input_group textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    resize: vertical;
}
.input_group textarea:focus{
    font-size: 18.5px;
    transform: scale(1.01);
    transition: 0.9s;
}
.input_group:nth-child(5){
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input_group input[type=checkbox]{
    cursor: pointer;
    width: 20px; 
    margin-right: 10px;
}

.form_contact button{
    width: 30%;
    font-size: 19px;
    padding: 7px 5px;
    margin: 10px;
    text-transform: uppercase;
    color: #55038C;
    background-color: white;
    outline: none;
    border: 1px solid #55038C;
    cursor: pointer;
}
.form_contact button::after{
    background-color: #55038C;
    content: '';
    width: 0%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;

    transition: 0.5s ease-in-out;
}
.form_contact button:hover{
    color: white;
    transform: scale(1.07);
    transition: 0.9s;
}
.form_contact button:active:after{
    background-color: white;
}
.form_contact button:hover:after{
    width: 100%;
    left: 0;
    top: 0;
    
}

/* Input Info */

.input_empty{
    border-bottom: 1px solid red !important;
    background-color: rgba(255, 0, 0, 0.096);
}
.input_empty::placeholder{
    color: red;
}
textarea.input_empty{
    border: 1px solid red !important;
}
.input_info{
    display: none;
    position: fixed;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
    max-width: 400px;
    height: 200px;
    padding: 10px;
    background-color: rgba(0, 143, 0, 0.863);
    text-align: center;
    vertical-align: bottom;
    color: white;
}
.input_info h2{
    font-size: 27px;
    font-weight: 300;
}
.input_info i{
    font-size: 45px;
    margin-top: 20px;
}


#map{
    width: 50%;
    height: 600px;
    background-color: red;
    margin: 10px;
    z-index: -1;
}

/* Footer */

footer.footer_site{
    width: 100%;
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    background-color: #8d61b9;
}
.footer_site span{
    display: block;
    font-size: 19px;
    margin: 10px 0;
}
.footer_site a{
    font-size: 23px;
    padding: 0 5px;
    margin: 0 2px;
    /* background-color: yellow; */
    color: white;
}
.footer_site a:hover{
    font-size: 25px;
    color: #8d61b9;
    background-color: white;
    border-radius: 1.5em;
    transition: 0.9s;
}

@keyframes BackgroundView {
    from{
        background-size: 165% 125%;
    }
    to{
        background-size: 160% 120%;
    }
}
@keyframes TextView {
    from {
        transform: translateX(-101%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes FadeIn {
    to{
        opacity: 1;
    }
}

@keyframes Float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-5px)
	}
}
@keyframes ShowMenu {
    from{
        transform: translateX(+101%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes HiddenMenu {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(+101%);
        opacity: 0;
    }
}

/* Media Queries */

@media screen and (max-width: 850px){

    article.banner{
        animation: none;
        flex-direction: column;
        min-height: 600px;
        background-size: 170% 130%;
        background-position: 50% 175%;
    }
    .banner_text{
        width: 100%;
        height: 350px;
        align-items: center;
        text-align: center;
    }
    .banner_text h2{
        font-size: 55px;
    }
    .banner_text p{
        font-size: 23px; 
    }

    /* Product */

    .product > .center{
        flex-direction: column;
        align-items: center;
    }
    .product_cards{
        max-width: 80%;
        margin-bottom: 20px;
    }
    .product_cards img{
        height: 300px;
    }
    .product_cards h2{
        font-size: 35px;
    }
    .product_cards p{
        width: 75%;
        padding: 10px 10px;
        font-size: 21px;
    }

    /* Galery */

    .gal_text_group:nth-child(2){
        flex-direction: row-reverse;
    }
    .gal_text_group img{
        width: 55%;
        min-height: 500px;
    }
    .gal_text_group:nth-child(2) img{
        position: static;
    }
    .gal_text_group > div{
        width: 55%;
        padding: 2%;
    }
    .gal_text_group:nth-child(2) > div{
        width: calc(55%);
    }

    /* About */

    .info_text_group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info_text{
        width: 80%;
        padding: 3%;
        margin-bottom: 20px;

    }
    .info_text h2{
        font-size: 37px;
    }
    .info_text p{
        font-size: 23px;
    }

    /* Contact */

    section.contact > .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form.form_contact{
        width: 80%;
        /* margin: 10px; */
        background-color: white;
    }

    div#map{
        width: 80%;
        background-color: red;
        margin: 10px;
    }   
}
@media screen and (max-width: 700px){

    .gal_text_group{
        flex-direction: column;
        align-items: center;
    }
    .gal_text_group:nth-child(2){
        flex-direction: column;
    }
    .gal_text_group img{
        width: 80%;
        height: 350px;
    }
    .gal_text_group > div{
        width: 100%;
        padding: 5%;
        text-align: center;
        margin-bottom: 20px;
    }
    .gal_text_group:nth-child(2) > div{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {

    .header_site nav .group_i{
        display: flex;
    }

    .header_site nav i:nth-child(1){
        display: block;
    }

    .header_site ul.desktop{
        display: none;
    }

    .header_site ul.app{
        display: none;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 60px;
        /* bottom: 0; */
        /* left: 0; */
        right: 0;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        list-style: none;
        background-color: #8d61b9c5;
        transition: background-color 0.5s;
    }
    ul.app li{
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* vertical-align: center; */
        /* right: 50%; */
        width: 100%;
        height: 100%;
        padding: 0;
    }
    ul.app li a{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        border-bottom: 1px solid white;
        border-radius: 0;
    }


    /* Product */
     
    .product_cards{
        max-width: 100%;
        margin-bottom: 20px;
    }

    /* About */

    .info_text{
        width: 100%;
    }

    /* Contact */

    form.form_contact{
        width: 100%;
    }

    div#map{
        width: 100%;
    }   
}